﻿
@{
   
    ViewBag.Title = "Kontakt";
}
<p>
    <button type="button" class="btn btn-success btn-lg">Kontakt</button>

</p>

<div class="container">
    <div class="row">
<div class="col-sm-6 col-xs-12"></div>
<div class="bohnice">Nalezenete mě každé dopoledne na zahradách psychiatrické nemocnice Bohnice.
    <p>Po-Pá:  8:00-12:00</p>
    <p>So:    10:00-12:00</p>
    <p>Ne:     9:30-11:30</p>
    <p>Tel.: 721 353 892</p>
    <p>email: Dr.Karel.Nespor@bohnice.eu</p>
        </div>
    </div>
        </div>
<div class="col-sm-6 col-xs-6">
     <p>Přijďte a zkuste si s doktorem Nešporem a jeho pacienti úžasné smíchové terapie!</p>
    </div> 
<div class="col-sm-6 col-xs-6">
<p>Dle výzkumu je nejoblíbenější léčení s názvem "Šnečí smích".</p>
    </div>
              

