﻿
@{
    
    ViewBag.Title = "Galerie";
}

<p>
    <button type="button" class="btn btn-success btn-lg">Galerie</button>

</p>
<span id="odkaz">Odkazy na videa s terapiemi smíchem...</span>
<ul>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=nJ_HlF-p7mA">Šnečí smích</a></li>
    <li><a target="_blank" href=https://www.youtube.com/watch?v=Rm2KiQH3P-c">Veverčí smích</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=El5ZPRLkTfE">Smích veselého opičáka</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=VCEnoT8AklA">Smích veselé kachny</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=vvzUJVJMah0">Africký smích</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=vvzUJVJMah0">Okamžitý smích</a></li>


    </ul>
 
