﻿
@{
   
    ViewBag.Title = "Úvod";
}

<p>
    <button type="button" class="btn btn-success btn-lg">Info</button>

<p>Vítáme Vás na stránkách veleuznávaného <mark>MUDr. Nešpora</mark>, který se proslavil zejména se svými videi, na kterých léčí smíchem.</p>
<div class="nespor"><img src="~/content/images/nešpor.jpg"/></div>
  