﻿body {
    font-family: 'Franklin Gothic', 'Verdana', 'Times New Roman', serif;
    margin: 20px;

}
h1{
    font-family: 'Caviar Dreams', 'Arial';
    color: #279655;
    font-size: 50px;
}
.bohnice {
    border: 3px solid #279655;
    padding:20px;
    margin: 30px;
}
a:hover{
    color: #279655;
}
a{
    color:#901254;
}
#odkaz {
    font-size: 25px;
}
h2{
    font-size: 30px;
}
img {
 padding:30px;
}
